<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<bean id="event" class="com.epam.module1.core.spring.beans.Event" scope="prototype">
		<constructor-arg>
			<bean class="java.util.Date"></bean>
		</constructor-arg>
		<constructor-arg>
			<bean id="dateFormat" class="java.text.DateFormat"
				factory-method="getDateTimeInstance" />
		</constructor-arg>
	</bean>

	<bean id="consoleEventLogger" class="com.epam.module1.core.spring.loggers.ConsoleEventLogger"/>

	<bean id="fileEventLogger" class="com.epam.module1.core.spring.loggers.FileEventLogger"
		init-method="init">
		<constructor-arg name="fileName" value="${filename}"/>
	</bean>

	<alias name="cacheEventLogger" alias="eventLogger" />
	<bean id="cacheEventLogger" class="com.epam.module1.core.spring.loggers.CacheFileEventLogger"
		parent="fileEventLogger" destroy-method="destroy">
		<constructor-arg name="cacheSize" value="${cacheSize}"/>
	</bean>

</beans>


